.div123{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  border: 1px solid;
  margin: 20px 20px;
  padding:30px 30px 30px 30px;
  background-repeat: no-repeat;
  background-position: 6px center;
  color: #ff2621;
  background-color: #FFCCBA;
  display: block;


}
.Button {
  background-color: #7f7f7f;
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  font-size: 16px;
  margin: 20px 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.Button:hover {opacity: 1}
.ajouter{
  width:220px;
  height:40px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  margin: 40px;
  margin-left: 35%;
 background-color: #ff656d;


  opacity: 0.6;
  border-radius: 5px 0 0 5px;
}
.liste{
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px;
}
.modifierpharmacie{
  max-width: 700px;

  height: auto;
  border-radius: 5px;
  margin: 2px 0px 30px 200px ;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 15px 35px 45px;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
.ajouterpharmacie{
  max-width: 700px;
  padding: 15px 35px 45px;
  margin: 2px 0px 30px 200px ;
  background: #fcfdf7;
  border: 2px solid #4697ce;
}
.modifier{
  color: #252537;
  width: 90px;
  height: 50px;


  cursor: pointer;

  transition: all 0.2s linear;

}
.titre{
  position: relative;
  border-left: 3px solid fuchsia;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: fuchsia;
  font-size: 2px;
  border-right: 3px solid fuchsia;

}

h1{
  color:#ccc;
  text-align:center;
  font-family: 'Vibur', cursive;
  font-size: 50px;
}
.btnAjouter{
  width:100%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;

}
.table{
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: rgba(30, 30, 30, 0.23);



}
.test{
  margin-bottom: 100px;
}


